API_key = "aFAIncaiujbcasiudsa---ijvndsij"!iuhjifnijds   example"
SCOPES = "https://google.readonly.example"
Client_secret = "kofpdnmVCOIDNkjovnsd Example"
Client_id ="347598437589347985243789.apps.googleusercontent.com.example"
calendarId = "sd76f98as987d987sa98sa7da98ds7d98as7@group.calendar.google.com.example"
POSTGRES_USER= user_name
POSTGRES_PASSWORD= password
POSTGRES_DB= DB_name